.login-container{
    width: 50%;
    margin:2% auto;
}
.form-label{
    width: 100%;
    text-align: left;
    font-weight: 500;
}
input::placeholder{
    font-weight: 450;
}
.btn-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.log-in-btn{
    background-color: #6610f2;
    color: white;
}